<ion-content>
  <div class="container-login">
    <div class="screen">
      <div class="screen__content">
        <div class="img-logo">
          <img src="./assets/LOGO ENI CHECK BLANCO.png" class="animate__animated animate__tada">
        </div>
        <div class="components-container">

          <div class="title-container">
            <h1 class="title-text">Restablecer</h1>
            <h1 class="title-text">contraseña</h1>
          </div>

          <form action="#" class="login">
            <div class="login__field">

              <ion-list>
                <ion-item>
                  <ion-input name="password" labelPlacement="stacked" label="Nueva contraseña"
                    errorText="Contraseña invalida" ngModel password
                    type="{{ mostrarContrasena ? 'text' : 'password' }}">
                    <ion-icon slot="start" name="lock-closed" aria-hidden="true" color="success"></ion-icon>
                    <ion-button fill="clear" slot="end" aria-label="Show/hide" (click)="toggleMostrarContrasena()">
                      <ion-icon slot="icon-only" [name]="mostrarContrasena ? 'eye' : 'eye-off'" aria-hidden="true"
                        color="success"></ion-icon>
                    </ion-button>
                  </ion-input>

                </ion-item>
                <br>
                <ion-item>
                  <ion-input name="passwordconfirm" labelPlacement="stacked" label="Confirmar contraseña"
                    errorText="Contraseña invalida" ngModel password
                    type="{{ mostrarContrasena ? 'text' : 'password' }}">
                    <ion-icon slot="start" name="lock-closed" aria-hidden="true" color="success"></ion-icon>
                    <ion-button fill="clear" slot="end" aria-label="Show/hide" (click)="toggleMostrarContrasena()">
                      <ion-icon slot="icon-only" [name]="mostrarContrasena ? 'eye' : 'eye-off'" aria-hidden="true" color="success"></ion-icon>
                    </ion-button>
                  </ion-input>

                </ion-item>
              </ion-list>

            </div>

            <ion-button expand="full" shape="round" mode="ios" class="btn-login" fill="outline"
              style="--border-color: #528741;">
              Restablecer contraseña
            </ion-button>
            <br>
          </form>

        </div>

        <div class="container">
          <img src="./assets/Logo-ENI-Blanco.png" class="img-fluid img-eni-logo">
          <p class="ion-text-center poweredBy">powered by ENI Networks®</p>
        </div>

      </div>
    </div>
  </div>
</ion-content>