<ion-content>
  <div class="container-login">
    <div class="screen">
      <div class="screen__content">
        <div class="img-logo">
          <img src="./assets/LOGO ENI CHECK BLANCO.png" class="animate__animated animate__tada">
        </div>
        <div class="components-container">

          <div class="title-container">
            <h1 class="title-text">Solicitud de</h1>
            <h1 class="title-text">restablecimiento</h1>
          </div>

          <form action="#" class="login">
            <div class="login__field">

              <ion-list>
                <ion-item>
                  <ion-input name="email" labelPlacement="stacked" label="Email" placeholder="email@domain.com"
                    errorText="Email invalido" ngModel email>
                    <ion-icon slot="start" name="mail" aria-hidden="true" color="success"></ion-icon>
                    <ion-button fill="clear" slot="end" aria-label="Show/hide">
                    </ion-button>
                  </ion-input>
                </ion-item>
              </ion-list>

            </div>

            <ion-button expand="full" shape="round" mode="ios" class="btn-login" fill="outline"
              style="--border-color: #528741;">
              Enviar Solicitud
            </ion-button>
            <br>
            <ion-button expand="full" shape="round" mode="ios" class="btn-cancel" fill="outline" color="danger">
              Cancelar
            </ion-button>

          </form>
        </div>

        <div class="container">
          <img src="./assets/Logo-ENI-Blanco.png" class="img-fluid img-eni-logo">
          <p class="ion-text-center poweredBy">powered by ENI Networks®</p>
        </div>

      </div>
    </div>
  </div>
</ion-content>