* {
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.components-container {
    position: absolute;
    width: 100%;
    top: 15%;
}

.title-container {
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    text-align: left;
}

.title-text {
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.title-text:first-child {
    color: #00712d; /* Color para "Restablecer" */
}

.title-text:last-child {
    color: #76ab53; /* Color para "Contraseña" */
}

.forgot-password {
    margin-top: 1.5rem;
    text-align: center;
    width: 70%;
}

.forgot-password a {
    color: #888;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    
}

.login {
    padding: 10px;
    padding-top: 0;
}
.login button {
    display: flex;
    justify-content: center;
}

.login__field {
    padding: 10px 0;
    position: relative;
}

.login__icon {
    position: absolute;
    top: 30px;
    color: #00712d;
}

.login__input {
    border: none;
    border-bottom: 2px solid #d1d1d4;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 550;
    width: 80%;
    transition: all 0.2s ease;
    color: black;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
    outline: none;
    border-bottom-color: #76ab53;
}

.login__submit {
    background-color: #ffffff;
    font-size: 14px;
    margin-top: 30px;
    padding: 16px 20px;
    border-radius: 26px;
    border: 1px solid #d4d3e8;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 100%;
    color: #00712d;
    box-shadow: 0px 2px 2px #006235;
    cursor: pointer;
    transition: all 0.2s ease;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
    border-color: #76ab53;
    outline: none;
}

.button__icon {
    font-size: 25px;
    margin-left: auto;
    color: #7875b5;
}

.container {
    position: absolute;
    //height: 110px;
    //width: 153px;
    text-align: center;
    bottom: 2%;
    left:32%;
    color: #ffffff;
}

.container img {
    width: 50%;
    height: auto;
    margin-left: 1rem;
}
.poweredBy {
    font-size: 1rem;
    margin-top: 0.8rem;
    margin-left: 1rem;
}


/* Animation */
@keyframes background-image-position {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.btn-login {
    --background: #76ab53;
    --color: #ffffff;
    --box-shadow: 0;
    --color-activated: transparent !important;
    --color-focused: #ffffff;
    --ripple-color: transparent !important;
    --background-activated: transparent !important;
    font-weight: bold;
    margin-top: 20px;
    width: 70%;
}

.img-logo {
    // position: absolute;
    // height: 140px;
    // width: 160px;
    text-align: right;
    margin-bottom: 10px;
    
}

.img-logo img {
    width: 38%;
    height: auto;
}

ion-input{
    --background: transparent !important;
    width: 70%;    
}

ion-item::part(native) {
    --background: transparent !important;
    
    --border-style: none !important;
    font-family: "Montserrat", sans-serif;;
}

ion-list{
    background: transparent !important;
}

//media querys

@media only screen and (max-width: 767px) {
    ion-content {
        --background: url("/assets/Background-sirheni-app.jpg") no-repeat center/cover center fixed;
    background: url("/assets/Background-sirheni-app.jpg") no-repeat fixed center;
    background-size: cover;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1024px){

      ion-content {
        --background: url("/assets/Background-sirheni-app.jpg") no-repeat center/cover center fixed;
    background: url("/assets/Background-sirheni-app.jpg") no-repeat fixed center;
    background-size: cover;
    }
  }
  
  @media screen and (min-width: 1025px){
    .screen{
        // --ion-background-color: linear-gradient(45deg, #71b744, #00712d);
        // animation: background-image-position 15s linear infinite;
        --background: url("/assets/Background-sirheni-app.jpg") no-repeat center/cover center fixed;
        background: url("/assets/Background-sirheni-app.jpg") no-repeat fixed center;
        background-size: cover;
    }
    
    .container-login {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        height: 100%;
    }
    
    .screen {
        // background-color: linear-gradient(90deg, #5d54a5, #7c78b8); //Not found
        // position: relative; // Original
        position: relative;
        height: 600px; // 600px
        // height: 100%;
        width: 360px; // 360px
        // width: 100%;
        box-shadow: 0px 0px 24px #006235;
    }
    
    .screen__content {
        z-index: 1;
        position: relative;
        height: 100%;
    }
    
    .screen__background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        clip-path: inset(0 0 0 0);
        -webkit-clip-path: inset(0 0 0 0);
    }
  }

